.windowAn {
    transform: translateY(-75%);
    opacity: 0;
}

.d-none {
    display: none;
}

.active-block {
    display: block !important;
}

.collapseElement {
    overflow: hidden;
}

.calc-content {
    overflow: hidden;
}

.heightAnimation {
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.animation-block {
    display: block !important;
}

.itemDisabled {
    display: none !important;
}